body {
  margin: 0;
    background-color: #f6f6f6;
    color: #323b49;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    line-height: 1.6em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
